{% extends 'base.html' %}
{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<div class="row d-flex flex-warp justify-content-center pt-5">
    {% for post in data %}
    <div class="col-sm-3">
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content}}</p>
            <p class="card-text"><b>Author: </b>{{post.author.name}}</p>
            <p>
                <b>Category: </b>{% for ct in post.category.all %}
                <button class="btn btn-primary btn-sm m-2" disabled>{{ct.name}}</button>
                {% endfor %}
            </p>
            <a href="{% url 'edit_post' post.id %}" class="btn btn-success ">Edit</a>
            <a href="{% url 'delete_post' post.id %}" class="btn btn-danger ">Delete</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}